decorator==4.0.4
fake-factory==0.5.2
ipdb==0.8.1
ipython==4.0.1
ipython-genutils==0.1.0
mixer==5.3.1
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
py==1.4.31
pytest==2.8.3
simplegeneric==0.8.1
SQLAlchemy==1.0.9
traitlets==4.0.0
